[Desktop Entry]
Type=Application
Name=Thirdeye Launcher
GenericName=Role Playing Game
Comment=An engine replacement for AESOP
TryExec=thirdeyelauncher
Exec=thirdeyelauncher
Icon=thirdeye
Categories=Game;RolePlaying;
Name[en_US]=Thirdeye
